---
title: Work
debug: false
draft: true
layout: layouts/resume_layout.pug
---
include ../_includes/work-data.pug

h1.name Andr&eacute;s Cuervo

span
    | <a href="mailto:acwervo@gmail.com">acwervo@gmail.com</a> | <a href="https://cwervo.com">cwervo.com</a>

h2.header Education
div Bachelor of Arts, Oberlin College '17
div Creative Writing, Computer Science double major

h2.header Experience
each key in Object.keys(workData)
    - var data = workData[key]
    h3.jobHeader #{key}
    div.jobTitle #{data.jobTitle} (#{getDayAndMonth(data.startDate)}—#{getDayAndMonth(data.endDate)})
    ul.description
        each sentence in data.description
            li #{sentence}

h2.header Skills
<span style="text-decoration: underline;">Languages & frameworks</span> : Javascript (ES6, React, Three.js, A-FrameVR, ReactVR), C++ (OpenFrameworks), Clojure & ClojureScript (Om, Om.Next, Reagent, Rum), Rust (nannou), C# (Unity), Python, Ruby, C, Java
