---
title: Work
debug: false
draft: true
layout: layouts/resume_layout.pug
---
include _includes/work-data.pug

h1.name Andrés Cuervo

span
    | <a href="mailto:acwervo@gmail.com">acwervo@gmail.com</a> | <a href="https://cwervo.com">cwervo.com</a>

h2.header Education
div Bachelor of Arts, Oberlin College '17
div Creative Writing & Computer Science, double major

h2.header Experience
each key in Object.keys(workData)
    - var data = workData[key]
    h3.jobHeader #{key}
    div.jobTitle #{data.jobTitle} (#{getDayAndMonth(data.startDate)}—#{getDayAndMonth(data.endDate)})
    ul.description
        each sentence in data.description
            li #{sentence}

h2.header Skills
div
    span.bold Programming languages & frameworks: 
    | C++ (OpenFrameworks), Javascript (ES6, React, Three.js, A-FrameVR, ReactVR), Clojure & ClojureScript (Om, Om.Next, Reagent, Rum), Rust (nannou), C# (Unity), Python, Ruby, C, Java

.page-break

div.after-page-break
    span.bold Teaching: 
    | Have taught middle & high school math & programming. Led & created curriculum for workshops teaching programmers, interface designers, & new media artists.

h2.header Teaching
ul
    li Code Now (Summer of 2015) — Revamped the curriculum website & assisted with workshops for high schoolers teaching Ruby & Swift
    li Mozilla Berlin A-Frame Workshop (August 10, 2017) — Co-wrote & co-taught <a href="https://www.meetup.com/WebXRBerlin/events/242057709/">a workshop</a> to programmers on the web VR framework A-Frame
    li <a href="https://www.eventbrite.com/e/creating-augmented-narratives-workshop-tickets-42472075120#">Creating Augmented Narratives Workshop</a> (February 19, 2018) — Created a 6-hour long class for 12 professionals (artists, educators, and programmers of varying skill level) on using web-based augmented reality to create narratives, art, and games.

h2.header Art Installations
ul
    li Co-created <a href="http://cwervo.com/pore/index.html">Pore</a> with Sage Jenson (a new media artist in Berlin) for JSConf EU 2018. Using photogrammetry and generative painting I programmed & designed a web VR piece for participants to stretch in VR that would create a communal sculpture using the direction of their gaze
    li <a href="http://cwervo.com/lace/index.html">Lace</a> is a mock operating system using natural hand input via Leap Motion & a projector to prototype a future of computation without screens. Created during the Gray Area Incubator in the last half of 2018

h2 Awards
ul
    li Samsung WebVR Grand Prize (2017)

h2.header Grants & Fellowships
ul
    li Oberlin College Grant ('13 — '17)
    li <a href="https://www.oberlin.edu/bcsl/programs/bonner-scholars">Bonner Scholars</a> Fellow ('13 - '17)
    li <a href="http://www.code2040.org">Code2040 </a> Fellow ('16)
    li <a href="https://grayarea.org/incubator/">Gray Area Incubator</a> member (July - December '18)
    li <a href="https://dynamicland.org/">Dynamicland</a> core volunteer (October '17 — current)
