doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title #{title ? title+" - " : ""} cwervo.com
        link(rel="stylesheet" href="/main.css")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:site", content="@acwervo")
        meta(name="twitter:title", content=(twitterTitle ? twitterTitle : "cwervo.com"))
        meta(name="twitter:description", content=(twitterDescription ? twitterDescription : "Andrés Cuervo's slice of the web."))

        link(rel="icon" type="image/png" href="/assets/images/favicon.png")
        meta(name="viewport" content="initial-scale=1.0")

        if (padding)
            style body {padding: 0 5%;} @media (min-width: 600px) { body {padding: 0 15%;} } @media (min-width: 900px) { body {padding: 0 30%;} }
        else
            style body {padding: 0 3%;}

        if noIndex
            meta(name="robots" content="noindex, nofollow")

        if (syntaxHighlighting)
            link(rel="stylesheet" href="/assets/prism-duotone-light.css")

        style.
            body { font-size: 1rem; }

            nav > ul > li:not(:last-child) {
                margin-right: 1em;
            }

            a {
                color: #0074D9;
                text-decoration-color: #2EAFAC;
            }
            a:visited {
                color: #B10DC9;
            }
            nav a {
                color: black;
            }
            nav a:visited {
                color: #333;
            }

            nav > ul > li:not(:last-child) {
                float: left;
            }

            .navItem {
                margin-right: 10px;
            }

            @media (max-width: 450px) {
                .navItem {
                    font-size: 1.75rem;
                    width: 50%;
                    float: initial;
                }
                nav {
                    width: 100%;
                    display: block;
                }

                #navList {
                    columns: 2;
                }
            }

            .caption {
                width: 100%;
                text-align: center;
                color: #444;
                margin-bottom: 15px;
            }
            .caption::before {
                content: '↳';
                display: inline-block;
                margin-right: 1em;
            }
            ::selection {
                background: #2EAFAC;
            }

        - if (specialIncludes)
            - if (typeof specialIncludes === "object")
                for thing in specialIncludes
                    script(src=thing)
            - else
                script(src=specialIncludes)

        - if (aframeStyle)
            style
                | a-scene {
                | height: 300px;
                |  width: 50%;
                | }
        - if (gridStyle)
            include _includes/gridStyle.pug

    -
        let navObjects = [
            {href: "/", innerText: "Home"},
            {href: "/writing", innerText: "Writing"},
            {href: "/projects", innerText: "Projects"},
            {href: "/speaking", innerText: "Speaking"},
            {href: "/contact", innerText: "Contact"}
            ]

    // Colors from: http://clrs.cc/a11y/
    body(style="font-family: sans-serif; color: #234; background-color: #F8F8F8;")
        nav(style="display: block; width: 100%; font-size: 1.25rem;")
            ul#navList(style="list-style-type: none; padding-left: 0;")
                each navItem in navObjects
                    li.navItem
                        a(href=navItem.href) #{navItem.innerText}
            // span#logo.navItem
            //     a(href="/")
            //         img(style="display: inline-block; height: 1.5em; width: auto;" src="/assets/images/favicon.png" alt="small-logo")
        br
        |!{content}
