---
layout: layouts/base.pug
---

style.
    img {
        max-width: 100%;
        height: auto;
        display:block;
        margin:auto;
    }
    figcaption {
        margin-top: 0.5em;
        text-align: center;
    }

    table {
        margin: auto;
        table-layout: fixed;
        border-collapse: collapse;
    }

    table, th, td {
        padding: 1% 5%;
        border: 1px solid black;
    }

    .blog-post { padding: 0 0%; }
    @media (min-width: 600px) {
        .blog-post {
            padding: 0 5%;
        }
    }
    @media (min-width: 900px) {
        .blog-post {
            padding: 0 10%;
        }
    }
    @media (min-width: 1000px) {
        .blog-post {
            padding: 0 25%;
        }
    }

- let dateObject = new Date(date)
- let month = dateObject.toLocaleString('en-US', { month: "long" })
- let dateString = `${month} ${dateObject.getUTCDate()}, ${dateObject.getFullYear()}`

main.blog-post
    h1(style="font-size: 3.5rem; margin-bottom: 0;") #{title}
    div #{dateString}
    | !{content}
    span
        span.date ◼️ #{dateString} 
        a(href="https://twitter.com/acwervo") @acwervo
p
    a(href="/") ← Home
