---
title: Writing
layout: layouts/base.pug
draft: true
---

h2 #{title}
for post in collections.writing
    if !post.data.draft
        - let dateObject = new Date(post.date)
        - let month = dateObject.toLocaleString('en-US', { month: "long" })
        - let dateString = `${month} ${dateObject.getUTCDate()}, ${dateObject.getFullYear()}`
        li
            a(href=post.url) #{post.data.title}
            span  (#{dateString})
