---
title: Work
layout: layouts/base.pug
gridStyle: true
debug: false
---
include _includes/portfolio-data.pug

if debug
    h4(style="color: red; background-color: black;") DEBUG MODE STILL ONNNNNNNN
    span(style="margin-left: 10%; color: red;") You can locally edit the titles & descriptions below :)

.grid
    each item in portfolioData
        a.gridItem(style="display: block;" href=item.link target=(item.linkTarget ? item.linkTarget : ""))
            - if (item.giphyVideo)
                video(playsinline="true" muted="true" autoplay="true" loop="true" style="max-width: 100%;")
                    source(src=item.giphyVideo)
            - if (item.imageSrc)
                img(src=item.imageSrc style="max-width: 100%;")
            .title !{item.title}
            .description !{item.description}
if debug
    script.
        document.querySelectorAll('.gridItem').forEach(gridItem => {
            gridItem.removeAttribute("href")
            gridItem.querySelector('.title').setAttribute('contenteditable', 'true')
            gridItem.querySelector('.description').setAttribute('contenteditable', 'true')
        })
